:root {
    --activeBoxRed: #e84546;
    --activeBoxRedTransparent: #e84545cc;
    --activeBoxLogo: rgb(141, 143, 167);
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
section {
    padding: 7em 0;
}
header {
    background-image: url('../img/header/hero.jpg');
    height: 80vh;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
}
nav,
nav ul,
#features,
#team,
#works,
.person .socialMedia,
#testemonials .bubbles,
footer .informations,
footer .information .socialMedia {
    display: flex;
}
nav .logo h2,
nav ul li a:hover,
.heroText,
button,
.work .project,
#testemonials,
footer,
.copyright p:nth-child(2) span,
footer .information .socialMedia a {
    color: white;
}
button:hover,
footer .information .socialMedia a:hover {
    opacity: 0.7;
}
button:active,
footer .information .socialMedia a:active,
.work:hover > .project,
.work:active > .project {
    opacity: 1;
}
#features,
#team,
#works,
.footer .informations {
    justify-content: space-around;
    flex-wrap: wrap;
}

nav {
    position: relative;
    justify-content: space-between;
    padding: 0em 0em 0.5em 0em;
}
nav hr {
    position: absolute;
    width: 96%;
    bottom: 0%;
    left: 1.75%;
    height: 1px;
    border: none;
    background-color: rgba(141, 143, 167, 0.493);
}

nav .logo h2 {
    padding: 1em 2em 1em 0.2em;
    font-size: 2em;
    margin: 0;
    font-weight: 200;
}
nav .logo h2 span {
    font-weight: 900;
    color: var(--activeBoxLogo);
}
nav ul {
    list-style: none;
    justify-content: space-around;
}
nav ul li {
    margin: 0;
    padding: 1.5em 0.5em 1.5em 0.5em;
}
nav ul li a {
    padding: 1em;
    color: rgb(206, 206, 206);
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8em;
}

nav ul li a:active {
    color: rgb(206, 206, 206);
}
.heroText {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.heroText h1 {
    text-align: center;
    font-size: 3.6em;
    text-transform: uppercase;
    font-family: 'OpenSans', sans-serif;
    padding: 0em 0.2em;
    letter-spacing: 2px;
    margin-bottom: 0;
}
.heroText p {
    font-weight: 300;
    font-size: 1.3em;
    margin-bottom: 3em;
    line-height: 35px;
}
button {
    background: var(--activeBoxRed);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: 1em 4.5em;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 2px;
    outline: none;
}

#features {
    padding: 4em 0em 0em;
    margin: auto 0;
}
.feature {
    width: 30%;
    text-align: center;
}
.feature h3 {
    text-transform: uppercase;
    margin: 2em 0em;
    font-size: 0.85em;
}
.feature p {
    line-height: 30px;
    font-size: 0.9em;
    text-align: center;
}

.work {
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
}

.work .project {
    position: absolute;
    opacity: 0;
    transition: 0.2s ease-in-out;
    background: var(--activeBoxRedTransparent);
    height: 99%;
    width: 100%;
    text-align: center;
}

.work img {
    width: 430px;
}
.project .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.75em;
}
.project .text .projectTitle {
    text-transform: uppercase;
    font-weight: bold;
}

.person {
    width: 22%;
}
.person img {
    width: 100%;
}

.person .profile .name {
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: normal;
    text-transform: capitalize;
}
.person .profile .jobTitle {
    font-size: 0.75em;
    margin-top: 5px;
    text-transform: uppercase;
    color: var(--activeBoxRed);
}
.person .biography {
    font-size: 0.9em;
}
.person .socialMedia {
    width: 60%;
    justify-content: space-around;
    margin-top: 2em;
}
.person .socialMedia .link a {
    border: 1px solid rgba(175, 175, 175, 0.541);
    color: rgba(128, 128, 128, 0.541);
    width: 20px;
    height: 20px;
    padding: 0.5em 0.9em;
    margin-right: 5px;
    transition: 0.1s ease-in-out;
}
.person .socialMedia .link a:visited {
    color: rgba(128, 128, 128, 0.541);
}

.person .socialMedia .link a:hover {
    color: #e84546;
}
.person .socialMedia .link a:active {
    color: rgba(128, 128, 128, 0.541);
}
#testemonials {
    position: relative;
    height: 35vh;
    margin-bottom: 3em;
}
#testemonials .text,
#testemonials .picture {
    height: 90%;
    width: 50%;
    position: absolute;
}
#testemonials .text {
    right: 0;
    width: 50%;
    background: #523549;
}
#testemonials .quote {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#testemonials .picture {
    left: 0;
    overflow: hidden;
}
#testemonials .picture img {
    position: absolute;
    top: -8%;
    left: -5%;
}
#testemonials q {
    font-family: 'Cardo', serif;
    font-size: 2.5em;
    font-weight: normal;
}
#testemonials .text .author {
    text-transform: uppercase;
    margin-top: 2em;
    font-size: 0.7em;
    font-weight: bold;
}
#testemonials .bubbles {
    height: 50px;
    width: 100px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}
#testemonials .bubbles .bubble {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.226);
    cursor: pointer;
}
#testemonials .bubbles .bubble.active {
    background: white;
}

#download {
    text-align: center;
}
#download p:nth-child(1) {
    font-size: 1.8em;
    margin-bottom: 0;
    font-weight: lighter;
}
#download p:nth-child(2) {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: bold;
    margin-bottom: 3em;
}
footer {
    background: #3a3e63;
    padding: 6em 10em 8em;
}
footer address {
    font-style: normal;
}

footer .information {
    width: 50%;
    text-align: center;
}

footer .information p {
    color: var(--activeBoxLogo);
}
footer .information p:nth-child(1) {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}
footer .information .socialMedia {
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 50px;
    width: 150px;
    list-style: none;
}

footer .information .socialMedia a {
    padding: 0.4em 0.7em;
    border: 2px solid white;
}
footer .information .socialMedia a:hover {
    opacity: 0.7;
}
footer .information .socialMedia a:active {
    opacity: 1;
}
footer .information:nth-child(3) p:nth-child(2) {
    font-size: 0.8em;
    line-height: 20px;
}
.copyright {
    color: rgba(170, 170, 170, 0.733);
    padding: 1.5em;
    text-align: center;
    background: #313455;
}
